<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View area</title>
</head>
<body>
<h1>View area: <span th:text="${area.name}"></span></h1>
<a href="/areas">Area list</a>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.author}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>